/* add some style here */
/* primary-color */
.nadi-primary {
  background-color: #28dad1;
}
.nadi-primary:hover {
  background-color: #21b6ae;
}
.nadi-primary-bor {
  background-color: white;
  cursor: pointer;
  border-color: #70e6e0;
  text-decoration: black;
}
.text-primary {
  color: #28dad1;
}
/* secondary-color * */
.nadi-secondary {
  background-color: #21485c;
}
.nadi-secondary:hover {
  background-color: #1b3c4d;
}
.text-secondary {
  color: #21485c;
}
/* secondary-color * */
.nadi-tertiary {
  background-color: #dceaeb;
}
.nadi-tertiary:hover {
  background-color: #b7c3c4;
}
.text-tertiary {
  color: #b7c3c4;
}

/* warning-color * */
.nadi-warning {
  background-color: #ff8038;
}
.nadi-warning:hover {
  background-color: #d46b2f;
}
.text-warning {
  color: #ff8038;
}

/* error-color * */
.nadi-error {
  background-color: #ff5947;
}
.nadi-error:hover {
  background-color: #d44a3b;
}
.text-error {
  color: #ff5947;
}
/* success-color * */
.nadi-success {
  background-color: #07bc7b;
}
.nadi-success:hover {
  background-color: #069d66;
}
.text-success {
  color: #07bc7b;
}
/* basic-color * */
.nadi-basic-bl {
  background-color: #000000;
}
.text-basic-bl {
  color: #000000;
}
/* basic-color * */
.nadi-basic-wh {
  background-color: #ffffff;
}
